/* Estilos Generales */
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #080404;
    color: #080404;
}

/* Encabezado */
header {
    background-color:grey;
    color: rgb(10, 8, 8);
    padding: 20px;
    text-align: center;
}

header {
    margin: 0;
}

nav {
    margin-top: 15px;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(8, 3, 3);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Secciones */
section{
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: grey;
}

section p {
    line-height: 1.6;
}

/* Formulario */
form{
    margin-top: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #3f1ff3cb;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

form button:hover {
    background-color: #4526f7cb;
}

/* Tablas */
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th{
    background-color: #3f1ff3cb;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Listas */
ul {
    list-style-type: none;
    padding: 0;
}







